body {
  font-family: "Titillium Web", sans-serif;
}

.text-gradient {
  background: #b8d4e0;
  background: linear-gradient(to right, #b8d4e0 0%, #edf4f7 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-cvrr {
  /* background-image: url('./assets/bg-body.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */

  background-image: url('data:image/svg+xml,%3Csvg width="52" height="26" viewBox="0 0 52 26" xmlns="http://www.w3.org/2000/svg"%3E%3Cg fill="none" fill-rule="evenodd"%3E%3Cg fill="%239C92AC" fill-opacity="0.4"%3E%3Cpath d="M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z" /%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
}

.my-navbar {
  color: #fff;
  background-color: #203a43;
}

.my-navbar h1:hover {
  color: #dddddd;
  transition: 0.5s;
}

.my-navbar li:hover {
  color: #dddddd;
  transition: 0.5s;
}

.my-header {
  height: 100vh;
  color: #fff;
  background-color: #203a43;
}

.header-left {
  border-radius: 20px;
}

.my-header b {
  letter-spacing: 3px;
}

.bg-png {
  background-image: url("./assets/cover.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.myself img {
  width: 460px;
  border-radius: 50%;
}

.my-icons i {
  font-size: 1.5rem;
}

.my-icons a:hover {
  color: #dddddd;
}

.my-title {
  text-align: center;
  font-size: 2rem;
  letter-spacing: 1px;
  margin-bottom: 40px;
  position: relative;
}

.my-skills h3 {
  letter-spacing: 1px;
  margin-left: 10px;
}

.skills {
  color: #fff;
  font-size: 1.75rem;
  border-radius: 10px;
  background: #0f2027;
  background: -webkit-linear-gradient(to left, #2c5364, #203a43);
  background: linear-gradient(to left, #2c5364, #203a43);
}

.hobby {
  color: #fff;
  font-size: 1.5rem;
  border-radius: 10px;
  background: #0f2027;
  background: -webkit-linear-gradient(to left, #2c5364, #203a43);
  background: linear-gradient(to left, #2c5364, #203a43);
}

.project {
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
}

.project h3 {
  text-align: center;
  padding: 10px 0;
  font-weight: bold;
}

.project ul li {
  text-align: center;
  padding-bottom: 6px;
}

.project img {
  border-radius: 10px;
}

.project img:hover {
  transition: 0.3s;
  cursor: pointer;
}

.services {
  box-shadow: 0 0 10px rgba(10, 10, 10, 0.1);
  border-radius: 10px;
}

.certificates img {
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.1);
}

.certificates img:hover {
  box-shadow: 0 0 10px rgba(10, 10, 10, 0.3);
  transition: 0.3s;
  cursor: pointer;
}

.my-education h4,
.my-education p {
  color: #203a43;
}

.education {
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(10, 10, 10, 0.2);
}
.cl-img {
  box-shadow: 0 0 10px rgba(15, 15, 15, 0.2);
}

form input {
  height: 40px;
  color: #0f2027;
  border: 2px solid #fff;
  box-shadow: 0 0 10px rgba(15, 15, 15, 0.3);
  background-color: #fff;
  outline: none;
  padding: 0 10px;
  margin: 0 10px;
  border-radius: 5px;

  margin-bottom: 20px;
}

form textarea {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(15, 15, 15, 0.3);
  border: 2px solid #fff;
  color: #0f2027;
  outline: none;
  padding: 0 10px;
  border-radius: 5px;
}

.right-side button {
  background-color: #fff;
  color: #203a43;
  box-shadow: 0 0 10px rgba(15, 15, 15, 0.3);
  padding: 5px 50px;
  border-radius: 5px;
  width: 740px;
}

.right-side button:hover {
  color: #fff;
  transition: 0.5s;
  background: #203a43;
}

.my-footer {
  color: #fff;
  font-size: 1.5rem;
  background: #0f2027;
  letter-spacing: 1px;
  background-color: #203a43;
}

.my-footer-bg {
  background-image: url("./assets/cover.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
